<%- include('includes/head.ejs') %>
</head>
<body>
  <h1>Form</h1>
  <form action="" method="POST">
    <div>
      <label for="name">Enter your name</label>
      <input id="name" type="text" placeholder="Your name" name="name">
    </div>
    <div>
      <button type="submit">Submit</button>
    </div>
  </form>
</body>
</html>